@use "./scss/variables" as vars;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 600 !important;

  @media screen and (min-width: vars.$screen-md) {
    margin-top: 2rem !important;
  }
}

h1,
h2,
h3 {
  color: vars.$pink-700;
}

.link {
  color: vars.$pink-700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  text-decoration: none;
  margin-right: auto;
  margin-left: 0;
  color: vars.$pink-700;
}

.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  padding: 1rem;

  >div {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

mat-toolbar {
  .mat-toolbar-row {
    padding: 0 1rem;
  }

  .logo {
    color: vars.$pink-100;
  }
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}

.mat-row {
  cursor: pointer;
}

.mat-mdc-cell b {
  font-weight: 500;
}

.mat-mdc-row:hover {
  cursor: pointer;

  .mat-mdc-cell {
    background-color: vars.$pink-50;
  }
}

@media (max-width: vars.$screen-lg) {
  .mat-mdc-row {
    font-size: 12px;

    .mat-mdc-cell {
      width: max-content;
      white-space: nowrap;
    }
  }
}

.container {
  padding: 1rem;
  max-width: 1536px;
  margin: 0 auto;
  min-height: 85vh;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

.hide-sm {
  @media (max-width: vars.$screen-sm) {
    display: none !important;
  }
}

.hide-md {
  @media (max-width: vars.$screen-md) {
    display: none !important;
  }
}

.hide-lg {
  @media (max-width: vars.$screen-lg) {
    display: none !important;
  }
}

.hide-xl {
  @media (max-width: vars.$screen-xl) {
    display: none !important;
  }
}

.show-sm {
  display: none !important;

  @media (max-width: vars.$screen-sm) {
    display: block !important;
  }
}

.show-md {
  display: none !important;

  @media screen and (max-width: vars.$screen-md) {
    display: block !important;
  }
}

.show-lg {
  display: none !important;

  @media screen and (max-width: vars.$screen-lg) {
    display: block !important;
  }
}

.show-xl {
  display: none !important;

  @media screen and (max-width: vars.$screen-xl) {
    display: block !important;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
