@if(!hideTitle) {
<h1>Doctor list</h1>
<p>
  This is a list displaying essential information about doctors and their task
  completion status.
</p>
}
<div class="toggle-group">
  <span>Toggle view: </span>
  <mat-button-toggle-group
    name="viewStyle"
    aria-label="View Style"
    [value]="viewStyle"
    (click)="toggleView()"
  >
    <mat-button-toggle value="table">Table</mat-button-toggle>
    <mat-button-toggle value="cards">Cards</mat-button-toggle>
  </mat-button-toggle-group>
</div>

@if (isTableView) { @if(!hideTitle) {
<h2>Table view</h2>
}
<div class="table-wrapper">
  <table mat-table matSort class="table" [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
      <td *matCellDef="let item" mat-cell>
        <span
          matBadgeColor="warn"
          matBadgeOverlap="false"
          matBadge="{{ uncompletedTasks(item) }}"
        >
          <b>{{ item.name }} </b>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="tasks">
      <th *matHeaderCellDef mat-header-cell>Completed Tasks</th>
      <td *matCellDef="let item" mat-cell>
        {{ completedTasks(item) }} / {{ item.tasks?.length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Email</th>
      <td *matCellDef="let item" mat-cell (click)="$event.stopPropagation()">
        <a class="link" href="mailto:{{ item.email }}">{{ item.email }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Phone</th>
      <td *matCellDef="let item" mat-cell (click)="$event.stopPropagation()">
        <a class="link" href="tel:{{ item.phone }}">{{ item.phone }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th *matHeaderCellDef mat-header-cell>Address</th>
      <td *matCellDef="let item" mat-cell>
        @if (item.address) {
        {{ item.address.street }} {{ item.address.suite }},
        {{ item.address.zipcode }} {{ item.address.city }} }
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th *matHeaderCellDef mat-header-cell>Details</th>
      <td *matCellDef="let item" mat-cell>
        <button mat-stroked-button color="primary" (click)="onRowClick(item)">
          Read more
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="tableHeader" mat-header-row></tr>
    <tr
      *matRowDef="let row; columns: tableHeader"
      mat-row
      (click)="onRowClick(row)"
    ></tr>
  </table>
</div>
<div class="table-legend">
  <span
    matBadge="0"
    matBadgeSize="small"
    matBadgeColor="warn"
    class="badge"
  ></span>
  <span>Number of tasks that are not completed</span>
</div>
} @else { @if(!hideTitle) {
<h2>Card view</h2>
}
<div class="cards">
  @for (item of doctors; track item.id;) {
  <mat-card class="card" (click)="onRowClick(item)">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      @if (item.company) {
      <mat-card-subtitle>{{ item.company.name }}</mat-card-subtitle>
      }
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Email: </b>
        <a class="link" href="mailto:{{ item.email }}">{{ item.email }}</a
        ><br />
        <b>Phone: </b>
        <a class="link" href="tel:{{ item.phone }}">{{ item.phone }}</a
        ><br />
        @if (item.address) {
        <b>Address:</b>
        {{ item.address.street }} {{ item.address.suite }},
        {{ item.address.zipcode }} {{ item.address.city }}
        }
      </p>
      <p>
        <b>Completed tasks:</b>
        {{ completedTasks(item) }} / {{ item.tasks?.length }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="card-button"
        mat-stroked-button
        color="primary"
        (click)="onRowClick(item)"
      >
        View doctor
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>
}
