@use "../../scss/variables" as vars;

.toggle-group {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 1rem 0 0.5rem 0;

  span {
    margin-right: 0.5rem;
    font-weight: 500;
  }
}

.mat-button-toggle-checked {
  background-color: vars.$pink-50 !important;
}

.table-legend {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-top: 1rem;

  b {
    font-weight: 600;
  }

  .badge {
    margin: auto 1rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card-button {
  width: 100%;
}

@media (max-width: vars.$screen-lg) {
  .mat-mdc-row .mat-mdc-cell {
    &:first-child {
      white-space: nowrap;
    }

    &:nth-last-child(2) {
      display: none;
    }
  }

  .mat-mdc-header-row .mat-mdc-header-cell:nth-last-child(2) {
    display: none;
  }
}