<h2>Doctor list</h2>

<div class="toggle-group">
  <span>Toggle view: </span>
  <mat-button-toggle-group
    [value]="viewStyle"
    name="viewStyle"
    aria-label="View Style"
    (click)="toggleView()"
  >
    <mat-button-toggle value="table">Table</mat-button-toggle>
    <mat-button-toggle value="cards">Cards</mat-button-toggle>
  </mat-button-toggle-group>
</div>

@if (isTableView) {
<h3>Table view</h3>
<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort class="table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let item">
        <span
          matBadge="{{ uncompletedTasks(item) }}"
          matBadgeColor="warn"
          matBadgeOverlap="false"
        >
          <b>{{ item.name }} </b>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef>Completed Tasks</th>
      <td mat-cell *matCellDef="let item">
        {{ completedTasks(item) }} / {{ item.tasks?.length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let item" (click)="$event.stopPropagation()">
        <a href="mailto:{{ item.email }}" class="link">{{ item.email }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let item" (click)="$event.stopPropagation()">
        <a href="tel:{{ item.phone }}" class="link">{{ item.phone }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let item">
        @if (item.address) {
        {{ item.address.street }} {{ item.address.suite }},
        {{ item.address.zipcode }} {{ item.address.city }} }
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
      <td mat-cell *matCellDef="let item">
        <button mat-stroked-button color="primary" (click)="onRowClick(item)">
          Read more
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: tableHeader"
      (click)="onRowClick(row)"
    ></tr>
  </table>
</div>
<div class="table-legend">
  <span
    matBadge="0"
    matBadgeSize="small"
    matBadgeColor="warn"
    class="badge"
  ></span>
  <span>Number of tasks that are not completed</span>
</div>
} @else {
<h3>Card view</h3>
<div class="cards">
  @for (item of doctors; track item.id;) {
  <mat-card class="card" (click)="onRowClick(item)">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      @if (item.company) {
      <mat-card-subtitle>{{ item.company.name }}</mat-card-subtitle>
      }
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>Email: </b>
        <a href="mailto:{{ item.email }}" class="link">{{ item.email }}</a
        ><br />
        <b>Phone: </b>
        <a href="tel:{{ item.phone }}" class="link">{{ item.phone }}</a
        ><br />
        @if (item.address) {
        <b>Address:</b>
        {{ item.address.street }} {{ item.address.suite }},
        {{ item.address.zipcode }} {{ item.address.city }}
        }
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="card-button"
        mat-stroked-button
        color="primary"
        (click)="onRowClick(item)"
      >
        View doctor
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>
}
