@use "@angular/material" as mat;

.emojis {
  font-size: 80px;
  line-height: 80px;
  position: relative;

  height: 80px;
  /* Adjust as needed */

  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  background: mat.get-color-from-palette(mat.$indigo-palette, 50);

  border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .emoji {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    opacity: 0.8;
    animation: fadeInOut 6s infinite;
  }

  .emoji:nth-child(1) {
    animation-delay: 0s;
  }

  .emoji:nth-child(2) {
    animation-delay: 2s;
  }

  .emoji:nth-child(3) {
    animation-delay: 4s;
  }

  .emoji:nth-child(4) {
    animation-delay: 6s;
  }
}

.container {
  position: relative;
  width: 200px;
  /* Adjust as needed */
  height: 50px;
  /* Adjust as needed */
  overflow: hidden;
}

.fade-element {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeInOut 8s infinite;
  /* Adjust total animation time as needed */
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0.8;
  }

  15%,
  50% {
    opacity: 1;
  }

  /* Adjust timing to control fade duration */
}

#element1 {
  animation-delay: 0s;
}

#element2 {
  animation-delay: 2s;
}

/* Each element starts 2 seconds after the previous one */
#element3 {
  animation-delay: 4s;
}

#element4 {
  animation-delay: 6s;
}