@use "../../scss/variables" as vars;

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;

  @media screen and (max-width: vars.$screen-md) {
    font-size: 2rem;
  }
}

.intro {
  display: grid;
  gap: 2rem;
  margin: 4rem 0;

  @media screen and (min-width: vars.$screen-md) {
    grid-template-columns: 1fr 1fr;
  }
}

.emojis {
  font-size: 3rem;
  line-height: 3rem;
  height: 3rem;
  padding: 1rem;
  background: vars.$pink-50;
  border-radius: var(--mdc-outlined-button-container-shape);

  display: flex;
  justify-content: space-evenly;
  margin: auto 0;

  @media screen and (min-width: vars.$screen-md) {
    font-size: 5rem;
    line-height: 5rem;
    height: 5rem;
  }
}