<div class="intro">
  <div>
    <h1>Welcome to the Doctors App</h1>
    <p>
      A simple application showcasing the results of Better's Angular
      assignment.
    </p>
  </div>
  <div class="emojis">
    <span class="emoji">👩🏻‍⚕️</span>
    <span class="emoji">👨‍⚕️</span>
    <span class="emoji">👩🏽‍⚕️</span>
    <span class="emoji">👨🏻‍⚕️</span>
    <span class="emoji">👩🏼‍⚕️</span>
    <span class="emoji">👨🏽‍⚕️</span>
  </div>
</div>

<h2>Doctors</h2>
<mat-divider></mat-divider>
<app-doctor-list [hideTitle]="true"></app-doctor-list>
<h2>Tasks</h2>
<mat-divider></mat-divider>
<app-task-list [hideTitle]="true"></app-task-list>
